<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
</head>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Portafolio</title>
<meta name="description" content="">
<meta name="author" content="">


<link rel="shortcut icon" href="../../static/img/fav.png" type="image/png">


<link rel="stylesheet" type="text/css"  href="../../static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../static/fonts/font-awesome/css/font-awesome.css">


<link rel="stylesheet" type="text/css"  href="../../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../../static/css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="../../static/css/nivo-lightbox/default.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../../static/js/modernizr.custom.js"></script>
</head>

